<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="eim.tray">
	<locations>
		<location path="repo" type="Directory"/>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2023-09/"/>
			<unit id="org.eclipse.oomph.setup.sdk.feature.group" version="1.28.0.v20230903-0802"/>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.junit.jupiter</groupId>
					<artifactId>junit-jupiter-api</artifactId>
					<version>5.9.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.junit.jupiter</groupId>
					<artifactId>junit-jupiter-engine</artifactId>
					<version>5.9.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.junit.jupiter</groupId>
					<artifactId>junit-jupiter</artifactId>
					<version>5.9.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.junit.platform</groupId>
					<artifactId>junit-platform-commons</artifactId>
					<version>1.9.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.knowhowlab.osgi</groupId>
					<artifactId>org.knowhowlab.osgi.testing.all</artifactId>
					<version>1.3.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.eclipse.cbi.maven.plugins</groupId>
					<artifactId>eclipse-jarsigner-plugin</artifactId>
					<version>1.4.2</version>
				</dependency>
				<dependency>
					<groupId>org.eclipse.cbi.maven.plugins</groupId>
					<artifactId>eclipse-macsigner-plugin</artifactId>
					<version>1.4.2</version>
				</dependency>
				<dependency>
					<groupId>org.eclipse.cbi.maven.plugins</groupId>
					<artifactId>eclipse-dmg-packager</artifactId>
					<version>1.4.2</version>
				</dependency>
			</dependencies>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.27"/>
			<unit id="org.eclipse.platform.ide" version="4.27.0.I20230302-0300"/>
			<unit id="org.eclipse.platform.sdk" version="4.27.0.I20230302-0300"/>
			<unit id="org.eclipse.sdk.ide" version="4.27.0.I20230302-0300"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2000.v20221201-0912"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>